<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="preload" href="fonts/Jost-Regular.woff2" as="font" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="css/style.min.css">
  <title>TAGA</title>
</head>

<body>
  <header class="header">
    <div class="header-container container">
      <a href="index.html">
        <img src="img/logo.svg" width="177" height="50">
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="#">Project</a>
        </li>
        <li class="header-menu-item">
          <a href="#">Blog</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <h1 class="visually-hidden">Landing page</h1>
    <section class="intro">
      <div class="intro-container container">
        <div class="form">
          <input id="password" type="password" v-model="password" v-show="!showPass">
          <input id="text" type="text" v-model="password" v-show="showPass">
          <button class="form-password" @click="showPass = !showPass">
            <span v-show="!showPass">Show</span>
            <span v-show="showPass">Hide</span>
          </button>
        </div>
        <button class="intro-button-reversed" @click="reverse">
          {{ message }}
        </button>
        <div class="intro-contain">
          <img class="intro-image" src="img/intro-image.png">
          <div class="intro-texts">
            <h2 class="intro-header">Let your home be unique</h2>
            <p class="intro-text">There are many variations of the passages of lorem Ipsum fromavailable, majority.</p>
            <button class="intro-button">
              Get Started
              <svg width="15" height="13">
                <use xlink:href="img/img.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="projects section">
      <div class="projects-container container">

        <h2 class="projects-header headers">Follow Our Projects</h2>
        <p class="projects-text texts">It is a long established fact that a reader will be distracted by the of readable
          content
          of page lookings at its
          layouts points.</p>
        <ul class="projects-list">
          <li class="projects-item">
            <img src="img/photo-1.png" width="525" height="548">
            <div class="projects-item-texts">
              <h3 class="projects-item-header">Modern Kitchan</h3>
              <p class="projects-item-text">Decor / Artchitecture</p>
              <a class="projects-item-link">
                <svg width="50" height="50">
                  <use xlink:href="img/img.svg#icon-circle-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="projects-item">
            <img src="img/photo-2.png" width="525" height="548">
            <div class="projects-item-texts">
              <h3 class="projects-item-header">Modern Kitchan</h3>
              <p class="projects-item-text">Decor / Artchitecture</p>
              <a class="projects-item-link">
                <svg width="50" height="50">
                  <use xlink:href="img/img.svg#icon-circle-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="projects-item">
            <img src="img/photo-3.png" width="525" height="548">
            <div class="projects-item-texts">
              <h3 class="projects-item-header">Modern Kitchan</h3>
              <p class="projects-item-text">Decor / Artchitecture</p>
              <a class="projects-item-link">
                <svg width="50" height="50">
                  <use xlink:href="img/img.svg#icon-circle-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="projects-item">
            <img src="img/photo-4.png" width="525" height="548">
            <div class="projects-item-texts">
              <h3 class="projects-item-header">Modern Kitchan</h3>
              <p class="projects-item-text">Decor / Artchitecture</p>
              <a class="projects-item-link">
                <svg width="50" height="50">
                  <use xlink:href="img/img.svg#icon-circle-arrow"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="counter section">
      <div class="counter-container container">
        <h2 class="visually-hidden">Counter</h2>
        <ul class="counter-list">
          <li class="counter-item">
            <h3 class="counter-item-header">12</h3>
            <p class="counter-item-text">Years Of Experiance</p>
          </li>
          <li class="counter-item">
            <h3 class="counter-item-header">85</h3>
            <p class="counter-item-text">Success Project</p>
          </li>
          <li class="counter-item">
            <h3 class="counter-item-header">15</h3>
            <p class="counter-item-text">Active Project</p>
          </li>
          <li class="counter-item">
            <h3 class="counter-item-header">95</h3>
            <p class="counter-item-text">Happy Customers</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="news section">
      <div class="news-container container">
        <h2 class="news-header headers">Follow Our Projects</h2>
        <p class="news-text texts">It is a long established fact that a reader will be distracted by the of readable
          content
          of page lookings at its
          layouts points.</p>
        <ul class="news-list">
          <li class="news-item">
            <div class="news-item-image">
              <img src="img/photo-5.png" width="340" height="289">
              <a class="news-item-image-link">Kitchan Design</a>
            </div>
            <div class="news-item-texts">
              <h3 class="news-item-header">Let’s Get Solution For Building Construction Work</h3>
              <div class="news-item-date-link">
                <p class="news-item-date">26 December,2022</p>
                <a class="news-item-link">
                  <svg width="50" height="50">
                    <use xlink:href="img/img.svg#icon-circle-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item-image">
              <img src="img/photo-6.png" width="340" height="289">
              <a class="news-item-image-link">Living Design</a>
            </div>
            <div class="news-item-texts">
              <h3 class="news-item-header">Let’s Get Solution For Building Construction Work</h3>
              <div class="news-item-date-link">
                <p class="news-item-date">26 December,2022</p>
                <a class="news-item-link">
                  <svg width="50" height="50">
                    <use xlink:href="img/img.svg#icon-circle-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>
          <li class="news-item">
            <div class="news-item-image">
              <img src="img/photo-7.png" width="340" height="289">
              <a class="news-item-image-link">Interior Design</a>
            </div>
            <div class="news-item-texts">
              <h3 class="news-item-header">Let’s Get Solution For Building Construction Work</h3>
              <div class="news-item-date-link">
                <p class="news-item-date">26 December,2022</p>
                <a class="news-item-link">
                  <svg width="50" height="50">
                    <use xlink:href="img/img.svg#icon-circle-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-container container">
      <div class="footer-logo-text-socials">
        <a class="footer-logo" href="index.html">
          <img src="img/logo.svg" width="177" height="50">
        </a>
        <p class="footer-text">It is a long established fact that a reader<br> will be distracted lookings.</p>
        <ul class="footer-socials">
          <li class="footer-socials-item">
            <a>
              <svg width="19" height="16">
                <use xlink:href="img/img.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a>
              <svg width="17" height="16">
                <use xlink:href="img/img.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-part">
        <p class="footer-menu-name">Pages</p>
        <ul class="footer-pages-list">
          <li class="footer-pages-item">
            <a>
              Home
            </a>
          </li>
          <li class="footer-pages-item">
            <a>
              Project
            </a>
          </li>
          <li class="footer-pages-item">
            <a>
              Blog
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-part">
        <p class="footer-menu-name">Contact</p>
        <ul class="footer-pages-list">
          <li class="footer-pages-item">
            <a>
              55 East Birchwood Ave.<br> Brooklyn, New York 11201 contact@interno.com
            </a>
          </li>
          <li class="footer-pages-item">
            <a>
              contact@interno.com
            </a>
          </li>
          <li class="footer-pages-item">
            <a>
              (123) 456 - 7890
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
  <script src="./js/main.min.js"></script>
</body>

</html>
