*
  margin: 0
  padding: 0

html
  overflow-x: hidden

body
  font-family: $noto-font
  font-weight: 400
  position: relative
  color: $black
  overflow-x: hidden
  font-size: 14px
  line-height: 150%

  @media(max-width: $max-mobile)
    font-size: 12px

a
  text-decoration: none
  color: $black
  cursor: pointer

label
  cursor: pointer

ul
  list-style: none

h3
  font-weight: normal

h1,
h2
  font-family: $druk-font

button
  background-color: transparent
  border: none
  cursor: pointer

fieldset
  border: none

input
  outline: none

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden
