$noto-font: 'Noto Sans', 'Arial', sans-serif
$druk-font: 'Druk Cyr', sans-serif
$black: #1A1A1B
$grey: #A6A6AD
$icon-grey: #ACB7C1
$light-grey: #F0EEEE
$item-grey: #EEF1F3
$icon-circle-grey: #F6F7FA
$block-grey: #F1F1F1
$white: #FFFFFF
$green: #199C68
$blue: #2F9DB5
$max-tablet: 1199px
$min-tablet: 768px
$max-mobile: 767px
$light-grey-border: 1px solid $light-grey
$item-grey-border: 1px solid $item-grey
$dashed-grey-border: 1px dashed $grey
$grey-border: 1px solid $grey
$all-border-radius: 4px
$top-border-radius: 4px 4px 0 0
$left-border-radius: 4px 0 0 4px
$right-border-radius: 0 4px 4px 0
$bottom-border-radius: 0 0 4px 4px
$yellow-gradient: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%)
$box-shadow: 0px 0px 6px 0px rgba(164, 164, 164, 0.12)
